<html>
    <head>
        <title>DataFlow</title>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='/static/css/custom.css' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.flowchart.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src='/static/js/jquery.flowchart.min.js'></script>
        <style>
        .BoxDD .flowchart-operator-title {background-color: orange;}
        .BoxSource .flowchart-operator-title {background-color: lightgreen;}
        .BoxDE .flowchart-operator-title {background-color: lightblue;}
        .BoxSink .flowchart-operator-title {background-color: darkgrey;}
        #codepen {width: 100%; }
        </style>
    </head>
    <body>
        <nav class='navbar navbar-default'>
            <div class='container-fluid'>
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">DataFlow</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/scripts/">Scripts</a></li>
                </ul>
            </div>
        </nav>
        <div class='container text-center'>
            <div class='row'>
                <table class='col-md-12 table table-bordered'>
                    <tbody>
                        <tr><td class='col-md-1'>For: </td><td id='codepenlabel' class='col-md-1'></td><td class='col-md-10'><textarea  id='codepen'></textarea></td></tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class='row text-left'>
                <div class='col-md-2 column'>
                    <ul class="nav nav-pills nav-stacked">
                        <li><button id='addreadcsv' class='btn btn-success'><span class="glyphicon glyphicon-chevron-right"></span>read_csv</button></li>
                        <li><button id='addrfclassifier' class='btn btn-success'><span class="glyphicon glyphicon-chevron-right"></span>RandomForestClassifier</button></li>
                        <li><button id='addscore' class='btn btn-info'><span class="glyphicon glyphicon-chevron-right"></span>Score Estimator on Data</button></li>
                        <li><button id='addtrainclassifier' class='btn btn-info'><span class="glyphicon glyphicon-chevron-right"></span>Train Classifier</button></li>
                        <li><button id='addprint' class='btn'><span class="glyphicon glyphicon-chevron-right"></span>Print</button></li>
                        <li><button id='addtraintestsplit' class='btn btn-warning'><span class="glyphicon glyphicon-chevron-right"></span>Train Test Split</button></li>
                    </ul>
                </div>

                <div class='col-md-10'>
                    <div id='example_multiple' class="flowchart-example-container"></div>
                </div>
            </div>
            <div>
                <p>The letters in brackets indicate the keys you can press to perform the functions. You can also click the buttons themselves.</p>
                <button id='addDD' class='btn'>Add [D]ata to Data Box</button>
                <button id='addSource' class='create_operator btn'>Add [S]ource Box</button>
                <button id='addDE' class='create_operator btn'>Add Data and [E]stimator Box</button>
                <button id='MAKESCRIPT' class='btn'>[M]ake Py Script!</button>

            </div>
        <script src='/static/js/main.js'></script>
    </div>
    </body>
</html>
